<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.example.little_wallpaper"
    android:requestLegacyExternalStorage="true"
    >

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.INTERNET" />
<!--    <uses-permission android:name="android.permission.INTERNET" />-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/title"
        android:largeHeap="true"
        android:roundIcon="@drawable/title"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
            android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Design.NoActionBar"
            tools:targetApi="m">
        <activity
            android:name="com.example.little_wallpaper.MainActivity"
            android:label="@string/app_name"
                android:launchMode="singleInstance"

            >

            <nav-graph android:value="@navigation/muti_img_navi" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <activity android:name="com.demo.Activity"-->
<!--                android:label="@string/online" android:launchMode="singleInstance">-->

        <service
                android:name="com.example.little_wallpaper.util.WallPaperService"
                android:enabled="true"
                android:permission="android.permission.BIND_WALLPAPER">
        </service>


    </application>



</manifest>